html,
body {
  overflow-x: hidden;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 40px;
  height: 97%;
  width: 100%;
  background-color: darkkhaki;
  transition: 0.3s all ease;
  transform: translateX(100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  transform: translateX(0);
}
